html, main{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden
}
h4{
    color: white;
    font-size: 25px;
    position: relative;
    text-align: left;
    left: 15%;
    margin: 5%;
}
p{
    margin: 10%;
}
#todos{
    width: 50%;
    height: 70%;
}
#calcular{
    margin: 10%;
    text-align: center;
    width: 60%;
    height: 10%;
}
#img-motivation{
    position: absolute;
    right: 10%;
    top: 25%;
}

#text-motivation{
    position: absolute;
    left: 55%;
    bottom: 21%;
    color: white;
    font-size: 30px;
}