/*Todos*/
header{
    background-color: rgb(72, 161, 13);
    padding: 30px;
}
.fundo{
    background-image: url(img/fundo.png);
    background-size: cover;
}
footer{
    background-color: gray;
    padding: 10px 45%;
    color: white;
    position: absolute;
    top: 100%;
}
footer h1{
    text-align: center;
    
}

#button-home{
    background-image: url('img/logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 20px;
    border: none;
    cursor: pointer;
}
#button-home:active{
    background-color: rgb(0, 247, 53);
}
/*Pagina Home*/
#home{
    background-image: url(img/home.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*botao de proximo */
#button {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 85%;
    right: 5%;
    background-color: transparent;
    background-image: url('img/botaodeprox.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
#button:active {
    background-color: rgb(0, 247, 53);
}
#button h1{
    font-size: 25px;
    position: absolute;
    right: -40%;
    top: 100%;
    color: white;
}

#css {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 85%;
    left: 5%;
    background-color: transparent;
    background-image: url('img/CSS.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
#css:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Adiciona um efeito hover */
}
#css:active {
    background-color: rgb(0, 247, 53);
}

#js {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 85%;
    left: 13%;
    background-color: transparent;
    background-image: url('img/js.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
#js:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Adiciona um efeito hover */
}
#js:active {
    background-color: rgb(0, 247, 53);
}

/*botao de nome */

.menu {
    position: fixed;
    top: -80px;
    right: -550px;
    width: 550px;
    height: 50%;
    transition: right 1s ease-in-out;
    overflow-y: auto;
    z-index: 2;
    
}
.menu-item img {
    width: 100%;
    height: auto;
}
#toggle-menu {
    background-image: url(img/Setinha.png);
    position: absolute;
    top: 26px;
    right: 0px;
    padding: 48px 21px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.0s;
    z-index: 1;
}
#toggle-menu:hover {
    background-color: rgb(0, 247, 53);
}

/*Pagina Tarefa*/
.text{
    font: bolder;
    font-size: 120px;
    text-align: center;
    color: #90dbe8;
    -webkit-text-stroke: 5px black;
    font-family: monospace;
}

.Tarefas{
    width: 940px;
    margin: 10% 10%;
}
.trabalhos li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 10px 30px;
    box-sizing: border-box;
    
}



/*---------------------------------------------------------------------------------------*/
#trabalho1 {
    background-image: url(abasimg/Projeto\ PortFolio.png);
    padding: 45px 200px;
    background-color: transparent;
    background-size: cover;
    background-position:center;
    border: none;
    cursor: pointer;
}
#trabalho1:active {
    background-color: rgb(0, 247, 53);
}

#trabalho2 {
    background-image: url(abasimg/Projeto\ PortFolio\ \(10\).png);
    padding: 45px 200px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}
#trabalho2:active {
    background-color: rgb(0, 247, 53);
}

#trabalho3 {
    background-image: url(abasimg/Projeto\ PortFolio\ \(2\).png);
    padding: 45px 200px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}
#trabalho3:active {
    background-color: rgb(0, 247, 53);
}

#trabalho4 {
    background-image: url(abasimg/Projeto\ PortFolio\ \(3\).png);
    padding: 45px 200px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}
#trabalho4:active {
    background-color: rgb(0, 247, 53);
}