@media (min-width: 768px) {
    html, body, main{
        height: 100%;
        display: grid;
        overflow: hidden;
        zoom: 1;
        
    }
}
html, body, main{
    overflow: hidden;
}
#integrantes{
    position: absolute;
    left: 35%;
    bottom: 3.9%;
    height: 83%;
    width: 33%;
    background-image: url('imagens/fundo.png');
    background-position: center;
    background-size: cover;
}
@media (max-width: 768px) {
    #integrantes {
        width: 93.5%;
        height: 82%;
        position: absolute;
        left: 3%;
    }
  }
h2{
    position: absolute;
    font-size: 190%;
    left: 25%;
    top: 30%;
    text-align: center;
}
#pcelso{
    background-image: url('imagens/pcelso.png'); 
    background-position: center;
    background-color: transparent;
    background-size: cover;
    height: 40%;
    width: 40%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    border: none;
    cursor: pointer;

}
#pleo{
    background-image: url('imagens/pleo.png');
    background-color: transparent;
    background-position: center;
    background-size: cover;
    height: 40%;
    width: 40%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    border: none;
    cursor: pointer;
}
#celso{
    position: absolute;
    left: -90%;
    bottom: 3.9%;
    height: 83%;
    width: 33%;
    background-image: url('imagens/fundo.png');
    background-position: center;
    background-size: cover;
    transition: left 2s ease-in-out;
}
@media (max-width: 768px) {
    #celso {
        width: 90%;
        height: 82%;
        position: absolute;
    }
  }
#leonardo{
    position: absolute;
    left: 160%;
    bottom: 3.9%;
    height: 83%;
    width: 33%;
    background-image: url('imagens/fundo.png');
    background-position: center;
    background-size: cover;
    transition: left 2s ease-in-out;
}
@media (max-width: 768px) {
    #leonardo {
        width: 90%;
        height: 82%;
    }
  }
.inf{
    position: absolute;
    top: 34%;
    left: 5%;
    width: 60%;
}
.inf h3{
    text-align: left;
    margin: 5%;
}
.inf2{
    position: absolute;
    left: -10%;
    bottom: -9%;
    text-align: left;
    width: 100%;
    height: 50%;
}
.inf2 li{
    font-size: 150%;
    color: white;
    display: inline-block;
    margin: 3% 15%;
}
.inf2 button{
    padding: 30% 70%;
    background-color: gray;
    border: 1%;
    border-radius: 30%;
}

.tnt{
    background-color: transparent;
    background-image: url('imagens/tnt.png');
    background-position: center;
    background-size: cover;
    height: 10%;
    width: 15%;
    position: absolute;
    left: 40%;
    bottom: 0%;
    border: none;
    cursor: pointer;
}

